body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#postingStatus {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#postingStatus.on {
  background-color: green;
}

#postingStatus.off {
  background-color: red;
}

#menu > ul > li {
display: inline-block;
padding: 4px;
border: 1px solid;
margin: 0;
}